/*
 * Sticky footer => footer tout le temps en bas de page
 */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 125px; /* margin bottom doit être égale ou supérieur à la hauteur du footer */
	padding: 25px;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
}
